@{
    ViewData["Title"] = "Primeiro MVC - OLaMundo";
}

<div class="text-center">
    <h1 class="display-4">estou no controlador OLaMundo</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core"> :)</a>.</p>
</div>
